//spacing

$base--vertical-space: 24px;

$vertical--space-sm: calc(1.30 * #{$base--vertical-space});
$vertical--space-md: calc(1.60 * #{$base--vertical-space});
$vertical--space-lg: calc(1.90 * #{$base--vertical-space});

.section--height {
  min-height: 650px;
}

//body base font

$base--font-size: 1em;

@include respond-to(sm) {
  body {
    font-size: calc(1.1 * #{$base--font-size});
  }
}

@include respond-to(md) {
  body {
    font-size: calc(1.2 * #{$base--font-size});
  }
}

@include respond-to(lg) {
  body {
    font-size: calc(1.25 * #{$base--font-size});
  }
}
